/*App.css*/
*{
  background-color: #040425;
  font-family: ui,'sans serif';
}

.cart-items {
  border-radius: 50%;
  background-color: rgb(20, 158, 105);
  font-weight: 700;
  color: aliceblue;
  width: 30px;
  height: 30px;
  font-size: 30px;
  padding: 10px;
  top: 10px;
  position: relative;
  left: 30px;
}

/*card*/

.product-card {
  border-radius: 8px;
  width: 250px;
  height:400px;
  padding: 16px;
  margin: 16px;
  background-color: #445a5d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  width: 260px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 8px;
  transition: transform 0.3s ease-in-out;
}

.product-image:hover {
   transform: scale(1.1); 
}

.product-details {
  border-radius: 8px;
  text-align: center;
  color:rgb(190 209 106); 
}
.product-details button{
  background-color:#8495b0;
  margin-bottom: 10px;
  margin-right: 6px; 
  border:none;
  border-radius: 5px;
  color:#04051f;
  cursor: pointer;
}
.product-details button:hover{
  background-color: rgb(168, 198, 37);
  color:black;
}
.item-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}
/* Product List*/
.prdt-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-btn {
  display: flex;
  flex-direction: row;
  padding: 15px;
  gap: 20px;
}

.filter-btn button{    
  height: fit-content;
  width: fit-content;
  font-weight: bolder;
  color:whitesmoke;
  border: solid white 2px;
  cursor: pointer;
}

.filter-btn label{
  height: fit-content;
  width: fit-content;
  font-weight: bolder;
  color:rgb(245, 245, 245);
  border: solid white 2px; 
}

.filter-btn  input{
  width:60px;
  height:15px;
  color:whitesmoke;
}

.filter-btn label  select{
  size: 20px;
  color:whitesmoke;
}

.filter-btn label  select option{
  size: 20px;
  color:black;
  background-color:whitesmoke;
}

.cart-num {
  margin-bottom: 40px;
  cursor: pointer;
}

.buy-now-btn {
  background-color: rgb(239, 239, 13);
  color: green;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 2rem;
  position: fixed;
  top: 30%;
  right: 10px;
  cursor: pointer;
}

.buy-now-btn:hover {
  color:#040425;
  background-color: rgb(205, 139, 16);
}

/*header*/
.title {
  color: yellow;
  font-family: ui, 'sans-serif';
  padding: 5px 10px;
  font-size:3rem;
}
h3{
  font-size: 25px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-bottom: 1px sold #ccc;
}
